<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.earlyzen.enuc.socail.attention.dao.mapper.SocialAttentionUserMapper">

	<insert id="insert" parameterType="com.earlyzen.enuc.socail.attention.model.SocialAttentionUser">
		<selectKey keyProperty="id" order="BEFORE" resultType="String">
			select replace(UUID(),'-','')
		</selectKey>
		insert into social_attention_user 
		(
			ID,
			CREATE_ID,
			BE_ATTENTION_ID,
			CREATE_TIME
		)	
		values	
		(	
			#{id},
			#{createId},
			#{beAttentionId},
			#{createTime}
		)	
	</insert>
	
	<insert id="insertSelective" parameterType="com.earlyzen.enuc.socail.attention.model.SocialAttentionUser">
		<selectKey keyProperty="id" order="BEFORE" resultType="String">
			select replace(UUID(),'-','')
		</selectKey>
		insert into social_attention_user 	
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id!=null">	
				ID,	
			</if>	
			<if test="createId!=null">	
				CREATE_ID,	
			</if>	
			<if test="beAttentionId!=null">	
				BE_ATTENTION_ID,	
			</if>	
			<if test="createTime!=null">	
				CREATE_TIME,	
			</if>	
		</trim>	
		values	
		<trim prefix="(" suffix=")" suffixOverrides=",">	
			<if test="id!=null">	
				#{id},	
			</if>	
			<if test="createId!=null">	
				#{createId},	
			</if>	
			<if test="beAttentionId!=null">	
				#{beAttentionId},	
			</if>	
			<if test="createTime!=null">	
				#{createTime},	
			</if>	
		</trim>	
	</insert>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from social_attention_user 	
		WHERE ID=#{id}
	</delete>
	
  	<delete id="deleteBatch" parameterType="java.util.Collection">
    	delete from social_attention_user 	 
    	where ID IN
    	<foreach collection="array" index="index" item="item" open="(" separator="," close=")"> #{item} </foreach>
  	</delete>
	
	<update id="updateByPrimaryKey" parameterType="com.earlyzen.enuc.socail.attention.model.SocialAttentionUser">
		update social_attention_user 	
		set 	
		CREATE_ID=#{createId},	
		BE_ATTENTION_ID=#{beAttentionId},	
		CREATE_TIME=#{createTime}	
		where 	
		ID=#{id} 	
	</update>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.earlyzen.enuc.socail.attention.model.SocialAttentionUser">
		update social_attention_user 	
		<set> 	
			<if test="createId!=null">	
				CREATE_ID=#{createId},	
			</if>	
			<if test="beAttentionId!=null">	
				BE_ATTENTION_ID=#{beAttentionId},	
			</if>	
			<if test="createTime!=null">	
				CREATE_TIME=#{createTime},	
			</if>	
		</set> 	
		where 	
		ID=#{id} 	
	</update>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultType="com.earlyzen.enuc.socail.attention.model.SocialAttentionUser">
		select  	
		_tbl.ID id,	
		_tbl.CREATE_ID createId,	
		_tbl.BE_ATTENTION_ID beAttentionId,	
		_tbl.CREATE_TIME createTime	
		from social_attention_user _tbl	
		where _tbl.Id=#{id}	
	</select>

	<select id="findCountByMap" parameterType="java.util.Map"
		resultType="java.lang.String">
		SELECT COUNT(*) from social_attention_user _tbl
		<where>
			
			<if test=" createId!=null ">	
				 and CREATE_ID=#{createId}  	
			</if>	
			<if test=" beAttentionId!=null ">	
				 and BE_ATTENTION_ID=#{beAttentionId}  	
			</if>	
			<if test=" createTime!=null ">	
				 and CREATE_TIME=#{createTime}  	
			</if>	

		</where>
	</select>
	
	<select id="list" parameterType="java.util.Map"
		resultType="com.earlyzen.enuc.socail.attention.model.SocialAttentionUser">
		select  	
		_tbl.ID id,	
		_tbl.CREATE_ID createId,	
		_tbl.BE_ATTENTION_ID beAttentionId,	
		_tbl.CREATE_TIME createTime	
		from social_attention_user _tbl	
		<where>
			
			<if test=" createId!=null ">	
				 and CREATE_ID=#{createId}  	
			</if>	
			<if test=" beAttentionId!=null ">	
				 and BE_ATTENTION_ID=#{beAttentionId}  	
			</if>	
			<if test=" createTime!=null ">	
				 and CREATE_TIME=#{createTime}  	
			</if>	

		</where>
	</select>
	
	<select id="findByMapAndReturnARecord" parameterType="java.util.Map"
		resultType="com.earlyzen.enuc.socail.attention.model.SocialAttentionUser">
		select  	
		_tbl.ID id,	
		_tbl.CREATE_ID createId,	
		_tbl.BE_ATTENTION_ID beAttentionId,	
		_tbl.CREATE_TIME createTime	
		from social_attention_user _tbl	
		<where>
			
			<if test=" createId!=null ">	
				 and CREATE_ID=#{createId}  	
			</if>	
			<if test=" beAttentionId!=null ">	
				 and BE_ATTENTION_ID=#{beAttentionId}  	
			</if>	
			<if test=" createTime!=null ">	
				 and CREATE_TIME=#{createTime}  	
			</if>	

		</where>
		limit 1
	</select>
</mapper>
	