<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.earlyzen.enuc.store.commodity.dao.mapper.StoreCommodityTypeMapper">

	<insert id="insert" parameterType="com.earlyzen.enuc.store.commodity.model.StoreCommodityType">
		<selectKey keyProperty="id" order="BEFORE" resultType="String">
			select replace(UUID(),'-','')
		</selectKey>
		insert into store_commodity_type 
		(
			ID,
			NAME,
			RECORD_SORT,
			PIC_PATH,
			CREATE_ID,
			CREATE_TIME,
			DELETE_ID,
			DELETE_TIME,
			RECORD_STATE
		)	
		values	
		(	
			#{id},
			#{name},
			#{recordSort},
			#{picPath},
			#{createId},
			#{createTime},
			#{deleteId},
			#{deleteTime},
			#{recordState}
		)	
	</insert>
	
	<insert id="insertSelective" parameterType="com.earlyzen.enuc.store.commodity.model.StoreCommodityType">
		<selectKey keyProperty="id" order="BEFORE" resultType="String">
			select replace(UUID(),'-','')
		</selectKey>
		insert into store_commodity_type 	
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id!=null">	
				ID,	
			</if>	
			<if test="name!=null">	
				NAME,	
			</if>	
			<if test="recordSort!=null">	
				RECORD_SORT,	
			</if>	
			<if test="picPath!=null">	
				PIC_PATH,	
			</if>	
			<if test="createId!=null">	
				CREATE_ID,	
			</if>	
			<if test="createTime!=null">	
				CREATE_TIME,	
			</if>	
			<if test="deleteId!=null">	
				DELETE_ID,	
			</if>	
			<if test="deleteTime!=null">	
				DELETE_TIME,	
			</if>	
			<if test="recordState!=null">	
				RECORD_STATE,	
			</if>	
		</trim>	
		values	
		<trim prefix="(" suffix=")" suffixOverrides=",">	
			<if test="id!=null">	
				#{id},	
			</if>	
			<if test="name!=null">	
				#{name},	
			</if>	
			<if test="recordSort!=null">	
				#{recordSort},	
			</if>	
			<if test="picPath!=null">	
				#{picPath},	
			</if>	
			<if test="createId!=null">	
				#{createId},	
			</if>	
			<if test="createTime!=null">	
				#{createTime},	
			</if>	
			<if test="deleteId!=null">	
				#{deleteId},	
			</if>	
			<if test="deleteTime!=null">	
				#{deleteTime},	
			</if>	
			<if test="recordState!=null">	
				#{recordState},	
			</if>	
		</trim>	
	</insert>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from store_commodity_type 	
		WHERE ID=#{id}
	</delete>
	
  	<delete id="deleteBatch" parameterType="java.util.Collection">
    	delete from store_commodity_type 	 
    	where ID IN
    	<foreach collection="array" index="index" item="item" open="(" separator="," close=")"> #{item} </foreach>
  	</delete>
	
	<update id="updateByPrimaryKey" parameterType="com.earlyzen.enuc.store.commodity.model.StoreCommodityType">
		update store_commodity_type 	
		set 	
		NAME=#{name},	
		RECORD_SORT=#{recordSort},	
		PIC_PATH=#{picPath},	
		CREATE_ID=#{createId},	
		CREATE_TIME=#{createTime},	
		DELETE_ID=#{deleteId},	
		DELETE_TIME=#{deleteTime},	
		RECORD_STATE=#{recordState}	
		where 	
		ID=#{id} 	
	</update>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.earlyzen.enuc.store.commodity.model.StoreCommodityType">
		update store_commodity_type 	
		<set> 	
			<if test="name!=null">	
				NAME=#{name},	
			</if>	
			<if test="recordSort!=null">	
				RECORD_SORT=#{recordSort},	
			</if>	
			<if test="picPath!=null">	
				PIC_PATH=#{picPath},	
			</if>	
			<if test="createId!=null">	
				CREATE_ID=#{createId},	
			</if>	
			<if test="createTime!=null">	
				CREATE_TIME=#{createTime},	
			</if>	
			<if test="deleteId!=null">	
				DELETE_ID=#{deleteId},	
			</if>	
			<if test="deleteTime!=null">	
				DELETE_TIME=#{deleteTime},	
			</if>	
			<if test="recordState!=null">	
				RECORD_STATE=#{recordState},	
			</if>	
		</set> 	
		where 	
		ID=#{id} 	
	</update>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultType="com.earlyzen.enuc.store.commodity.model.StoreCommodityType">
		select  	
		_tbl.ID id,	
		_tbl.NAME name,	
		_tbl.RECORD_SORT recordSort,	
		_tbl.PIC_PATH picPath,	
		_tbl.CREATE_ID createId,	
		_tbl.CREATE_TIME createTime,	
		_tbl.DELETE_ID deleteId,	
		_tbl.DELETE_TIME deleteTime,	
		_tbl.RECORD_STATE recordState	
		from store_commodity_type _tbl	
		where _tbl.Id=#{id}	
	</select>

	<select id="findCountByMap" parameterType="java.util.Map"
		resultType="java.lang.String">
		SELECT COUNT(*) from store_commodity_type _tbl
		<where>
			
			<if test=" name!=null ">	
				 and NAME=#{name}  	
			</if>	
			<if test=" recordSort!=null ">	
				 and RECORD_SORT=#{recordSort}  	
			</if>	
			<if test=" picPath!=null ">	
				 and PIC_PATH=#{picPath}  	
			</if>	
			<if test=" createId!=null ">	
				 and CREATE_ID=#{createId}  	
			</if>	
			<if test=" createTime!=null ">	
				 and CREATE_TIME=#{createTime}  	
			</if>	
			<if test=" deleteId!=null ">	
				 and DELETE_ID=#{deleteId}  	
			</if>	
			<if test=" deleteTime!=null ">	
				 and DELETE_TIME=#{deleteTime}  	
			</if>	
			<if test=" recordState!=null ">	
				 and RECORD_STATE=#{recordState}  	
			</if>	

		</where>
	</select>
	
	<select id="list" parameterType="java.util.Map"
		resultType="com.earlyzen.enuc.store.commodity.model.StoreCommodityType">
		select  	
		_tbl.ID id,	
		_tbl.NAME name,	
		_tbl.RECORD_SORT recordSort,	
		_tbl.PIC_PATH picPath,	
		_tbl.CREATE_ID createId,	
		_tbl.CREATE_TIME createTime,	
		_tbl.DELETE_ID deleteId,	
		_tbl.DELETE_TIME deleteTime,	
		_tbl.RECORD_STATE recordState	
		from store_commodity_type _tbl	
		<where>
			
			<if test=" name!=null ">	
				 and NAME=#{name}  	
			</if>	
			<if test=" recordSort!=null ">	
				 and RECORD_SORT=#{recordSort}  	
			</if>	
			<if test=" picPath!=null ">	
				 and PIC_PATH=#{picPath}  	
			</if>	
			<if test=" createId!=null ">	
				 and CREATE_ID=#{createId}  	
			</if>	
			<if test=" createTime!=null ">	
				 and CREATE_TIME=#{createTime}  	
			</if>	
			<if test=" deleteId!=null ">	
				 and DELETE_ID=#{deleteId}  	
			</if>	
			<if test=" deleteTime!=null ">	
				 and DELETE_TIME=#{deleteTime}  	
			</if>	
			<if test=" recordState!=null ">	
				 and RECORD_STATE=#{recordState}  	
			</if>	

		</where>
	</select>
	
	<select id="findByMapAndReturnARecord" parameterType="java.util.Map"
		resultType="com.earlyzen.enuc.store.commodity.model.StoreCommodityType">
		select  	
		_tbl.ID id,	
		_tbl.NAME name,	
		_tbl.RECORD_SORT recordSort,	
		_tbl.PIC_PATH picPath,	
		_tbl.CREATE_ID createId,	
		_tbl.CREATE_TIME createTime,	
		_tbl.DELETE_ID deleteId,	
		_tbl.DELETE_TIME deleteTime,	
		_tbl.RECORD_STATE recordState	
		from store_commodity_type _tbl	
		<where>
			
			<if test=" name!=null ">	
				 and NAME=#{name}  	
			</if>	
			<if test=" recordSort!=null ">	
				 and RECORD_SORT=#{recordSort}  	
			</if>	
			<if test=" picPath!=null ">	
				 and PIC_PATH=#{picPath}  	
			</if>	
			<if test=" createId!=null ">	
				 and CREATE_ID=#{createId}  	
			</if>	
			<if test=" createTime!=null ">	
				 and CREATE_TIME=#{createTime}  	
			</if>	
			<if test=" deleteId!=null ">	
				 and DELETE_ID=#{deleteId}  	
			</if>	
			<if test=" deleteTime!=null ">	
				 and DELETE_TIME=#{deleteTime}  	
			</if>	
			<if test=" recordState!=null ">	
				 and RECORD_STATE=#{recordState}  	
			</if>	

		</where>
		limit 1
	</select>
</mapper>
	