<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.earlyzen.enuc.store.subject.dao.mapper.StoreSubjectMapper">

	<insert id="insert" parameterType="com.earlyzen.enuc.store.subject.model.StoreSubject">
		<selectKey keyProperty="id" order="BEFORE" resultType="String">
			select replace(UUID(),'-','')
		</selectKey>
		insert into store_subject 
		(
			ID,
			NAME,
			NOTES,
			IMAGE_URL,
			RECORD_STATE,
			CREATE_ID,
			CREATE_TIME,
			DELETE_ID,
			DELETE_TIME
		)	
		values	
		(	
			#{id},
			#{name},
			#{notes},
			#{imageUrl},
			#{recordState},
			#{createId},
			#{createTime},
			#{deleteId},
			#{deleteTime}
		)	
	</insert>
	
	<insert id="insertSelective" parameterType="com.earlyzen.enuc.store.subject.model.StoreSubject">
		<selectKey keyProperty="id" order="BEFORE" resultType="String">
			select replace(UUID(),'-','')
		</selectKey>
		insert into store_subject 	
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id!=null">	
				ID,	
			</if>	
			<if test="name!=null">	
				NAME,	
			</if>	
			<if test="notes!=null">	
				NOTES,	
			</if>	
			<if test="imageUrl!=null">	
				IMAGE_URL,	
			</if>	
			<if test="recordState!=null">	
				RECORD_STATE,	
			</if>	
			<if test="createId!=null">	
				CREATE_ID,	
			</if>	
			<if test="createTime!=null">	
				CREATE_TIME,	
			</if>	
			<if test="deleteId!=null">	
				DELETE_ID,	
			</if>	
			<if test="deleteTime!=null">	
				DELETE_TIME,	
			</if>	
		</trim>	
		values	
		<trim prefix="(" suffix=")" suffixOverrides=",">	
			<if test="id!=null">	
				#{id},	
			</if>	
			<if test="name!=null">	
				#{name},	
			</if>	
			<if test="notes!=null">	
				#{notes},	
			</if>	
			<if test="imageUrl!=null">	
				#{imageUrl},	
			</if>	
			<if test="recordState!=null">	
				#{recordState},	
			</if>	
			<if test="createId!=null">	
				#{createId},	
			</if>	
			<if test="createTime!=null">	
				#{createTime},	
			</if>	
			<if test="deleteId!=null">	
				#{deleteId},	
			</if>	
			<if test="deleteTime!=null">	
				#{deleteTime},	
			</if>	
		</trim>	
	</insert>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from store_subject 	
		WHERE ID=#{id}
	</delete>
	
  	<delete id="deleteBatch" parameterType="java.util.Collection">
    	delete from store_subject 	 
    	where ID IN
    	<foreach collection="array" index="index" item="item" open="(" separator="," close=")"> #{item} </foreach>
  	</delete>
	
	<update id="updateByPrimaryKey" parameterType="com.earlyzen.enuc.store.subject.model.StoreSubject">
		update store_subject 	
		set 	
		NAME=#{name},	
		NOTES=#{notes},	
		IMAGE_URL=#{imageUrl},	
		RECORD_STATE=#{recordState},	
		CREATE_ID=#{createId},	
		CREATE_TIME=#{createTime},	
		DELETE_ID=#{deleteId},	
		DELETE_TIME=#{deleteTime}	
		where 	
		ID=#{id} 	
	</update>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.earlyzen.enuc.store.subject.model.StoreSubject">
		update store_subject 	
		<set> 	
			<if test="name!=null">	
				NAME=#{name},	
			</if>	
			<if test="notes!=null">	
				NOTES=#{notes},	
			</if>	
			<if test="imageUrl!=null">	
				IMAGE_URL=#{imageUrl},	
			</if>	
			<if test="recordState!=null">	
				RECORD_STATE=#{recordState},	
			</if>	
			<if test="createId!=null">	
				CREATE_ID=#{createId},	
			</if>	
			<if test="createTime!=null">	
				CREATE_TIME=#{createTime},	
			</if>	
			<if test="deleteId!=null">	
				DELETE_ID=#{deleteId},	
			</if>	
			<if test="deleteTime!=null">	
				DELETE_TIME=#{deleteTime},	
			</if>	
		</set> 	
		where 	
		ID=#{id} 	
	</update>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultType="com.earlyzen.enuc.store.subject.model.StoreSubject">
		select  	
		_tbl.ID id,	
		_tbl.NAME name,	
		_tbl.NOTES notes,	
		_tbl.IMAGE_URL imageUrl,	
		_tbl.RECORD_STATE recordState,	
		_tbl.CREATE_ID createId,	
		_tbl.CREATE_TIME createTime,	
		_tbl.DELETE_ID deleteId,	
		_tbl.DELETE_TIME deleteTime	
		from store_subject _tbl	
		where _tbl.Id=#{id}	
	</select>

	<select id="findCountByMap" parameterType="java.util.Map"
		resultType="java.lang.String">
		SELECT COUNT(*) from store_subject _tbl
		<where>
			
			<if test=" name!=null ">	
				 and NAME=#{name}  	
			</if>	
			<if test=" notes!=null ">	
				 and NOTES=#{notes}  	
			</if>	
			<if test=" imageUrl!=null ">	
				 and IMAGE_URL=#{imageUrl}  	
			</if>	
			<if test=" recordState!=null ">	
				 and RECORD_STATE=#{recordState}  	
			</if>	
			<if test=" createId!=null ">	
				 and CREATE_ID=#{createId}  	
			</if>	
			<if test=" createTime!=null ">	
				 and CREATE_TIME=#{createTime}  	
			</if>	
			<if test=" deleteId!=null ">	
				 and DELETE_ID=#{deleteId}  	
			</if>	
			<if test=" deleteTime!=null ">	
				 and DELETE_TIME=#{deleteTime}  	
			</if>	

		</where>
	</select>
	
	<select id="list" parameterType="java.util.Map"
		resultType="com.earlyzen.enuc.store.subject.model.StoreSubject">
		select  	
		_tbl.ID id,	
		_tbl.NAME name,	
		_tbl.NOTES notes,	
		_tbl.IMAGE_URL imageUrl,	
		_tbl.RECORD_STATE recordState,	
		_tbl.CREATE_ID createId,	
		_tbl.CREATE_TIME createTime,	
		_tbl.DELETE_ID deleteId,	
		_tbl.DELETE_TIME deleteTime	
		from store_subject _tbl	
		<where>
			
			<if test=" name!=null ">	
				 and NAME=#{name}  	
			</if>	
			<if test=" notes!=null ">	
				 and NOTES=#{notes}  	
			</if>	
			<if test=" imageUrl!=null ">	
				 and IMAGE_URL=#{imageUrl}  	
			</if>	
			<if test=" recordState!=null ">	
				 and RECORD_STATE=#{recordState}  	
			</if>	
			<if test=" createId!=null ">	
				 and CREATE_ID=#{createId}  	
			</if>	
			<if test=" createTime!=null ">	
				 and CREATE_TIME=#{createTime}  	
			</if>	
			<if test=" deleteId!=null ">	
				 and DELETE_ID=#{deleteId}  	
			</if>	
			<if test=" deleteTime!=null ">	
				 and DELETE_TIME=#{deleteTime}  	
			</if>	

		</where>
	</select>
	
	<select id="findByMapAndReturnARecord" parameterType="java.util.Map"
		resultType="com.earlyzen.enuc.store.subject.model.StoreSubject">
		select  	
		_tbl.ID id,	
		_tbl.NAME name,	
		_tbl.NOTES notes,	
		_tbl.IMAGE_URL imageUrl,	
		_tbl.RECORD_STATE recordState,	
		_tbl.CREATE_ID createId,	
		_tbl.CREATE_TIME createTime,	
		_tbl.DELETE_ID deleteId,	
		_tbl.DELETE_TIME deleteTime	
		from store_subject _tbl	
		<where>
			
			<if test=" name!=null ">	
				 and NAME=#{name}  	
			</if>	
			<if test=" notes!=null ">	
				 and NOTES=#{notes}  	
			</if>	
			<if test=" imageUrl!=null ">	
				 and IMAGE_URL=#{imageUrl}  	
			</if>	
			<if test=" recordState!=null ">	
				 and RECORD_STATE=#{recordState}  	
			</if>	
			<if test=" createId!=null ">	
				 and CREATE_ID=#{createId}  	
			</if>	
			<if test=" createTime!=null ">	
				 and CREATE_TIME=#{createTime}  	
			</if>	
			<if test=" deleteId!=null ">	
				 and DELETE_ID=#{deleteId}  	
			</if>	
			<if test=" deleteTime!=null ">	
				 and DELETE_TIME=#{deleteTime}  	
			</if>	

		</where>
		limit 1
	</select>
</mapper>
	